*{
  margin: 0;
  background-color: rgba(151, 207, 211, 0.822);
  background-repeat: no-repeat;
  background-size: cover;
}


html,
   body {

     --black: hsl(240, 6%, 13%);
     --grey:hsl(240, 9%, 89%);

     height: 100%;
     font-family: 'Roboto', sans-serif;
     -webkit-font-smoothing: antialiased;
  }

  body {
    display: grid;
    place-items: center;
  }


  .container { 
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
  }
  

  .avatar {
   width: 10rem;
   margin: 11.5rem auto 0;
   position: relative;
  }

 
 
  .avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 28%, 100% 80%, 51% 100%, 0 80%, 0 25%);
  }

   h1 {
  
     font-size: 2rem;
     color: rgb(0, 0, 0);
     margin-top: 1.5rem;
     

   }
   h2 {
    margin-top: 1rem;
    color: rgb(0, 0, 0);

 }

   a {
     color: rgb(0, 0, 0);
     text-decoration: none;
     margin-top: 1rem;

    
   }

   ul {

    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
 li{
    border: 1px solid rgba(133, 133, 133, 0);
  width: 100px;
  height: 100px;
  
}

.logoico img {
  width: 50px;
  height: 50px;
}

#git_img{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
